
  .ibHomeCheck {
    padding-top: 16px; 
    padding-bottom: 16px; 
  }
  
  .homeCheckLeft {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  
  .homeCheckRight {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* border-left: 1px solid #12b6e9; */
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .homeCheckItems {
    display: flex;
  }
  
  .mainWrapper {
    padding: 16px; 
    width: 100%;
    column-count: 2;
  }
  
  .checkboxRow {
    position: relative;
    margin-bottom: 16px; 
  }
  @media (max-width: 1024px) {
    #head-top {
      padding: 1px 0;
    }
  
    .mid-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .ib-homecheck {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
  
    .homecheck-left,
    .homecheck-right {
      width: 100%;
      padding-left: 0;
      border-left: none;
      margin-bottom: 20px;
      display:flex;
      flex-direction: column;
    }
  
    .homecheck-items {
     
      display:flex;
      flex-direction: column;
    }
  
    .main-wrapper {
      column-count: 1;
    }
  
    .cutsom-checkbox-row label {
      width: 100%;
      padding-left: 0;
    }
  }
  @media  (max-width: 678px) {
    #head-top {
      padding: 1px 0;
    }
  
    .mid-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .ib-homecheck {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
  
    .homecheck-left,
    .homecheck-right {
      width: 100%;
      padding-left: 0;
      border-left: none;
      margin-bottom: 20px;
      display:flex;
      flex-direction: column;
    }
  
    .homecheck-items {
     
      display:flex;
      flex-direction: column;
    }
  
    .main-wrapper {
      column-count: 1;
    }
  
    .cutsom-checkbox-row label {
      width: 100%;
      padding-left: 0;
    }
  }
  @media  (max-width: 420px) {
    #head-top {
      padding: 1px 0;
      
    }
  
    .mid-inner {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .ib-homecheck {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
  
    .homecheck-left,
    .homecheck-right {
      width: 100%;
      padding-left: 0;
      border-left: none;
      margin-bottom: 20px;
    }
  
    .homecheck-items {
      flex-direction: column;
    }
  
    .main-wrapper {
      column-count: 1;
    }
  
    .cutsom-checkbox-row label {
      width: 100%;
      padding-left: 0;
    }
  }