
.questionbank-section {
    padding: 10px 0 0 0;
    background: #fff;
}

.questionbank-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;
    padding: 0 7px;
}

.mid-inner {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.mid-inner1 {
    transition: transform 0.3s ease;
}

.mid-inner1:hover {
    transform: scale(1.1);
}
.questionbank-section li {
    width: 22%;
    margin-bottom: 30px !important;
    list-style: none;
    border-radius: 20px;
    column-count: 1;
    background: #D0E1FF;
    padding: 15px;
    margin: 1%;
    transition: .4s ease-in-out;
    -webkit-transition: 600ms ease transform;
    -o-transition: 600ms ease transform;
    transition: 600ms ease transform;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.questionbank-item img {
    width: 70%;
    height: auto;
    margin: -50px auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 74 77 / 25%);
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px !important;
    background: #fff;
}



@media  (max-width: 768px) {
    .questionbank-section li {
        width: 48%; 
    }

    .mid-inner {
        padding: 0 20px; 
    }

    .mid-inner1:hover {
        transform: none; 
    }

    .questionbank-item img {
        width: 100%; 
        margin: -70px auto;
    }
}

@media  (max-width: 480px) {
    .questionbank-section li {
        width: 100%; 
    }
}
