
.papertype-item {
    background: #D0E1FF;
    transition: .4s ease-in-out;
    padding: 20px 15px 0 15px;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
}


.headerSecondry {
    align-items: center;
    background: none;
    display: flex;
    height: 60px;
    position: relative;
    background: #fff;
}

header-inner {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}


.wiki-mk {
    padding-left: 10px;
    padding-right: 10px;
}


@media screen and (min-width: 1024px) {
 
    .wiki-mk {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    
    .header-inner {
        max-width: 100%;
    }
}


Link {
    text-decoration: none;
    outline: none;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}


.mid-inner2 {
    transition: transform 0.3s ease;
}

.mid-inner2:hover {
    transform: scale(1.1);
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


.logo-m > img {
    display: block;
    max-width:100%;
    left: 8px;
}


@media screen and (min-width: 768px) {
   
    .logo-m > img {
        max-width: 100%;
        width:50%;
        transform: translateY(-1px);
        position: absolute;
        display: none;
        left: 20px;
    }
}

.logo1-d {
    margin-left: 4px;
    max-width: 100%!important;
    transform: translateY(9px) !important;
}


@media screen and (min-width: 420px) {
 
    .logo1-d {
        max-width: 100% !important;
        transform: translateY(0px) !important;
        position: absolute;
        transition: transform .3s ease-in-out;
        padding-bottom: 40px;
        top: 0;
        z-index: 999;
    }
}


.logo-m > img {
    max-width: 100%;
    width:100px;
    transform: translateY(-1px);
    position: absolute;
    display: none;
    left: 20px;
}