
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Almarai' !important;
  overflow-x: hidden;
  backgroundColor:'#f1f5f9';
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #11acde; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}